<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>Relógio de casa</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.tzineClock/jquery.tzineClock.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tzineClock/jquery.tzineClock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>

<div id="fancyClock"></div>
<h1 id="date"></div>

</body>
</html>
